body{
    margin: 0;
    border: 0;
}
.card_main {

    margin: 250px;
    border: 2px solid purple;
    padding-top: 120px;
    padding-bottom:120px;
    padding-left: 340px;
    padding-right:340px ;

}
.organiza {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;

    border: 2px solid blue;

    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    
    }
.organiza1{
     display: flex;
    flex-direction: row;
}
.organiza2{
     display: flex;
    flex-direction: row;
}
.organiza3{
     display: flex;
    flex-direction: row;
}